* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
background:linear-gradient(to right, #020617, #0f172a);

    min-height:100vh;
    scroll-behavior: smooth;
}

header {
    width:90%;
    margin:20px auto;
    background:#0b1120;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    border-radius:20px;
    border:1px solid rgba(255,255,255,0.1);
    box-shadow:0 0 30px rgba(0,0,0,0.5);
    position: fixed top center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px
}

.logo img {
    width: 40px;
}

.logo h1 {
   color:white;
    font-size:30px;
    font-weight:bold;
}

#nav a {
    color:white;
    font-size:24px;
    font-weight:bold;
    margin: 10px; 
}

#nav a:hover{
    color: #3b82f6;
}

#Login {
    width: auto;
    right: 10%;
    border-radius: 10px;
    background-color: #3b82f6;
    cursor: pointer;
    align-items: center;
    display: flex;
}

#Login:hover {
    transition: 0.3s;
    transform: scale(1.1); 
}
#LOGIN {
    font-size: 18px;
    color: black;
}

.Inicio {
    width:90%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.texto {
    width: 50%;
}

.texto h2{
    font-size: 60px;
    color:white;
    margin-bottom: 20px;
}

.texto p {
    font-size: 20px;
    color: #cbd5e1;
    line-height: 1.6;
    margin-bottom: 30px;
}

.texto button {
     padding:15px 35px;

    border:none;
    border-radius:12px;

    background:#3b82f6;

    color:white;
    font-size:18px;

    cursor:pointer;

    transition: 0.3s;
}

.imagem {
    width:50%;
}

.imagem img{
    width: 100%;
    border: 20px;
    
}

@media (max-width:768px){

    .inicio{
        flex-direction:column;

        text-align:center;
    }

    .texto,
    .imagem{
        width:100%;
    }

    .texto h2{
        font-size:40px;
    }
    
    #html{
        font-size:clamp(35px, 5vw, 70px);
    }
    
    #css {
        font-size:clamp(35px, 5vw, 70px);
    }

    #JS {
        font-size:clamp(35px, 5vw, 70px);
    }
    #prev, #next {
        width: clamp(20px, 5vw, 50px);
        height: clamp(20px, 5vw, 50px);
    }
}

.explicacao {
    width: 90%;
    margin: 100px auto;
    display:flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    width:50%;
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:20px;
    padding:30px;
    backdrop-filter:blur(10px);
    transition:0.3s;
    box-shadow:0 0 20px rgba(0,0,0,0.3);
    cursor: pointer;
    display: none;
}

.card.active {
    display: block;
}

#html {
    color:#d1911a;
    font-size:clamp(35px, 5vw, 70px);
    margin-bottom:15px;
    text-align: center;
}

#css {
    color: #3b82f6;
    font-size:clamp(35px, 5vw, 70px);
    line-height: 1.5;
    text-align: center;
}

#JS {
    color: #d5e40a;
    font-size: clamp(24px, 5vw, 70px);
    line-height: 1.5;
    text-align: center;
}
.card p{
    color:#cbd5e1;
    font-size:clamp(12px, 5vw, 32px);
    line-height:1.5;
    text-align: center;
}

.card:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

#prev, #next {
    position: absolute;
    top: 122%;
    transform: translate(-50%);
    width: clamp(20px, 5vw, 50px);
    height: clamp(20px, 5vw, 50px);
    color: #0f172a;
    border: solid 1px #0b1120;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
    background-color: #525f7e;
}

#prev {
    left: 5%;
}

#next {
    right: 0%
}

@keyframes toActive {
    from {
        top: 120%;
        opacity: 0;
    }
}

.card.active {
    animation: toActive 0.5s ease-in-out;
}

/* pagina login */


#entrarConta {
    width: 30%;
    height: 70%;
    background-color: #1d283a;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoLogin {
    width: 25%;
    position: absolute;
    top: 0%;
    margin: bottom;
}
#loginConta {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background-color: #0f172a;
    color: #cbd5e1;
    font-size: 18px;
}

#senhaConta {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background-color: #0f172a;
    color: #cbd5e1;
    font-size: 18px;
}

#entrar{
    position: absolute;
    top: 65%;
    right: 11%;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    background-color: #080e1b;
    color: white;
}

#esqueciSenha {
    color: white;
    position: absolute;
    bottom: 30%;
    left: 15%;
    font-size: small;
}


@media (max-width:768px){
    
    #entrarConta {
        width: 70%;

    }
    
    
    #loginConta {
        width: clamp(70%, 5vw, 70%);
        left: 50%;
        top: 35%;
        transform: translate(-50%);
    }

    #senhaConta {
        width: clamp(70%, 5vw, 70%);
        left: 50%;
        top: 50%;
        transform: translate(-50%);
    }
}